/* style.css */

@import url('https://fonts.googleapis.com/css?family=Ruda:900');

  body {
    background-image: url(../images/bg.png);
    background-position: bottom;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  
  html, body {
    height: 100%;
    margin: 0;
  }
  
  .text {
    font: 900 18px Ruda;
    color: #C08;
    background: white;
    display: inline-block;
    padding: 1rem;
  }
  
  